<!--
edge
1 api source+limit not working, need to get 9
2 heoku and web sockets



luke
1 smoosh osc to this rails project
2 do if box touch div element containing link to article display:yes? in modal or close modal
3add red box div, make em move, understand dom thing


-->

<script>


$(document).ready(function(){

  console.log('Loaded.');



  var baseURL = "https://newsapi.org/v1/articles?source=mtv-news"
  var newsApiKey = "c21f307cc3974ec1b6900af92dc262ca"
  // var sortIt = "popular"



  $.ajax({
      url: baseURL,
      type: "GET",
      data:{
        apiKey: newsApiKey
        // limit: 10
        // sortBy: "latest",
        // source: "mtv-news",
      }
    })//ajax
    .done(function(response){
      var articlesObj = $(response)

      //how do i each over this?  I want to do a
      // @articlesObj.each do |article|
      // loop below the script, but I don't know where to define the variables. should all this ajax be in the js file?
      var articles = response.articles

      for (var i = 0; i < articles.length; i++) {


        //edge's suggestion build each square on fly. such a fucker to do, and I can't get interpolated daa in there:
        // $( '<div class="newwow">' ).appendTo( ".mainwow" );
        // $( '<div class="col-md-4 portfolio-item" <img class="img-responsive src="">' ).appendTo( ".newwow" );
        // $( '<img class="img-responsive src="" >' ).appendTo( ".col-md-4 portfolio-item" );

        //alternative where nine boxes are already there :
        console.log(articles)

        // don't know why the i+1 is nec:

          $('.title'+[i+1] ).text( articles[i].title )
          $('.blurb'+[i+1] ).text( articles[i].description)
          $(".photo"+[i+1]).attr('src', articles[i].urlToImage);

          //  $("#link"+[i+1]).attr('href', '/exercise?url='+ encodeURI(articles[i].url) );
           $("#link"+[i+1]).attr('href', '/exercise?url='+ encodeURI(articles[i].url) );
          // $('.img-responsive'+[i+1] ).attr('src', articles[i].urlToImage )




      }//fori


    })//done

    .fail(function(xhr, status, err){
      console.log('AJAX ERROR:', xhr, status, err);
    });//fail

});//doc ready


</script>




<!-- Page Content -->
 <div class="container">

     <!-- Page Header -->
     <div class="row">
         <div class="col-lg-12">
             <h1 class="page-header">The latest news
                 <small>...but you'll have to werk for it</small>
             </h1>
         </div>
     </div>
     <!-- /.row -->

     <div class="row">
         <div class="col-md-4 portfolio-item">
             <a id="link1" href="/exercise">
                 <img class="img-responsive photo1" src ="" alt="">
             </a>
             <h3 class=title1>
                 <span></span>
             </h3>
             <p class=blurb1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>

         </div>
         <div class="col-md-4 portfolio-item">
             <a id="link2" href="/exercise">
                 <img class="img-responsive photo2" src="" alt="">
             </a>
             <h3 class=title2>
                 <a href="#">Project Name</a>
             </h3>
               <p class=blurb2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
         <div class="col-md-4 portfolio-item">
             <a id="link3"  href="#">
                 <img class="img-responsive photo3" src="" alt="">
             </a>
             <h3 class=title3>
                 <a href="#">Project Name</a>
             </h3>
           <p class=blurb3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
     </div>
     <!-- /.row -->

     <!-- Projects Row -->
     <div class="row">
         <div  id="link4" class="col-md-4 portfolio-item">
             <a href="#">
                 <img class="img-responsive photo4" src="" alt="">
             </a>
             <h3 class=title4>
                 <a href="#">Project Name</a>
             </h3>
       <p class=blurb4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
         <div class="col-md-4 portfolio-item">
             <a  id="link5"  href="#">
                 <img class="img-responsive photo5" src="" alt="">
             </a>
             <h3 class=title5>
                 <a href="#">Project Name</a>
             </h3>
             <p class=blurb5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
         <div class="col-md-4 portfolio-item">
             <a  id="link6"  href="#">
                 <img class="img-responsive photo6" src="" alt="">
             </a>
             <h3 class=title6>
                 <a href="#">Project Name</a>
             </h3>
             <p class=blurb6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
     </div>

     <!-- Projects Row -->
     <div class="row">
         <div class="col-md-4 portfolio-item">
             <a  id="link7" href="#">
                 <img class="img-responsive photo7" src="" alt="">
             </a>
             <h3 class=title7>
                 <a href="#">Project Name</a>
             </h3>
         <p class=blurb7>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
         <div class="col-md-4 portfolio-item">
             <a  id="link8" href="#">
                 <img class="img-responsive photo8" src="" alt="">
             </a>
             <h3 class=title8>
                 <a href="#">Project Name</a>
             </h3>
           <p class=blurb8>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
         <div class="col-md-4 portfolio-item">
             <a href="#">
                 <img class="img-responsive photo9" src="" alt="">
             </a>
             <h3 class=title9>
                 <a  id="link9" href="#">Project Name</a>
             </h3>
             <p class=blurb9>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
         </div>
     </div>
     <!-- /.row -->


     <hr>
