body {padding: 0; margin: 0; background-color: white; }
button {position: absolute; right: 0; top: 0; }
textarea {position: absolute; right: 0; top: 20; font-size: 16pt; }
/*#deer{
  position: absolute;
  top: 100px;
  right: 400px;
  border: 2px solid hotpink;
  width: 200px;
  height: 100px;
}*/

.exercise-box {
  border: 2px solid hotpink;
  position: absolute;

}

/*#moving{
  background-image: url("app/assets/images/yellow.jpg")
}*/



body{
  z-index: 100;
}

canvas {
  /*display: none !important;*/
  /*position: absolute !important;
  height: 0 !important;
  width: 0 !important;*/
  /*z-index: -100;*/
}

div.a {
width: 50px;
height:50px;
background-color:red;
position:fixed;
display: none;

}

.navbar-inverse {
    background-color: #ae1717 !important
  }
  .navbar-inverse .navbar-brand{
    color: white !important;
font-family: 'Old Standard TT', serif;
font-size: 28px;
  }

  .yay a{
    color: white !important;
     font-family: 'Old Standard TT', serif;
     font-size: 20px;
  }

  html *{
    font-family: 'Old Standard TT', serif !important;
  }
